packages
Honotop.UCar.Tests/bin
Honotop.UCar.Tests/obj
Honotop.UCar.Service/bin
Honotop.UCar.Service/obj
Honotop.UCar.Models/bin
Honotop.UCar.Models/obj
Honotop.UCar.FrameWork/bin
Honotop.UCar.FrameWork/obj
Honotop.UCar.Data/bin
Honotop.UCar.Data/obj
Honotop.UCar/bin/
Honotop.UCar/obj/
Honotop.UCar/Log/
.vs/
*.dll
*.pdb
*.user
Web.config
